*{
    margin: 0;
    padding: 0;
}

.outer {
    background-color: rgb(106, 111, 111);
    width: 45vw;
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-gap: 5px;
    color: white;
    font-size: 17px;
}
.outer div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header {
    background-color: rgba(242, 99, 47, 0.915);
    grid-column: 1/6;
    grid-row: 1/2;
}
.left-side {
    background-color: rgba(22, 179, 179, 0.618);
    grid-column: 1/2;
    grid-row: 2/5;
    
}
.content {
    background-color: rgb(236, 180, 37);
    grid-column: 2/5;
    grid-row: 2/5;
}
.right-side {
    background-color: rgba(251, 86, 174, 0.927);
    grid-column: 5/6;
    grid-row: 2/5;
}
.footer {
    background-color: darkgreen;
    grid-column: 1/6;
    grid-row: 5/6;
}